<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="trips_root_menu"
        name="Trip Management"
    />
    
    <menuitem
        id="trips_menu"
        name="Trips"
        parent="trips_root_menu"
        action="action_trip"
    />

    <menuitem
        id="drivers_menu"
        name="Drivers"
        parent="trips_root_menu"
        action="action_driver"
    />

    <menuitem
        id="vehicles_menu"
        name="Vehicles"
        parent="trips_root_menu"
        action="action_vehicle"
    />

</odoo>
